/* created custom CSS varibles to add color */
:root {
    --light: ghostwhite;
    --dark: black;
}

body {
    background-image: url(../images/trees.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    color: var(--dark);
    font-family: monospace
}

/* added media query for background image */
@media (min-width: 1120px),
(min-height: 1630px) {
    body {
        background-size: cover;
    }
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light);
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px;
    border-style: double;
}

header h1 {
    font-size: 40px;
}

li {
    padding-right: 7px;
    display: inline-block;
}

a {
    color: var(--dark);
    text-decoration: none;
}

/* used underline on liks when hovering over */
a:hover {
    text-decoration: underline;
}

.portrait {
    display: flex;
    flex-wrap: wrap;
    max-width: 25%;
    margin: auto;
    border-radius: 20px;

}

.section1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.about-me {
    color: var(--light);
    font-size: 150%;
    padding: 5%;
}

.content {
    color: var(--light);
    border-left: solid;
    padding: 10%;
}

/* used media query so 'about me' flexes properly */
@media screen and (min-width: 768px) {
    .content {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.work {
    color: var(--light);
    font-size: 150%;
    margin-top: 25px;
    margin-left: 7%;
    margin-bottom: 100px;
    justify-content: center;
}

#hometown-sound {
    height: 200px;
    width: auto;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-work img {
    width: 200px;
    border-style: solid;
    border-color: var(--light);
    margin: 25px;
    border-radius: 15px;
}

/* pictures border turns red and grow when hovering over */
.my-work img:hover {
    box-shadow: 0 0 11px;
    color: red;
    transform: scale(1.1);
}


footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--light);
    background-color: gray;
    padding: 3%;
    border: 1px;
    border-color: var(--dark);
    border-style: double;
    font-size: 125%;
}